
<div class="jumbotron">
  <h1 class="display-4">Seja Bem Vindo <%= @meu_nome %>!</h1>
  <p class="lead">Projeto em Ruby com finalidades de estudo!</p>
  <hr class="my-4">
  <p>Escolha entre os itens abaixo:</p>
  <p class="lead">
    <%= link_to "Moedas", coins_path, class: 'btn btn-primary btn-lg'%>
    <%= link_to "Mineração", mining_types_path, class: 'btn btn-primary btn-lg'%>
  </p>
</div>
